{
  // Extend existing configuration
  // from ESlint and eslint-plugin-react defaults.
  "extends": [
    "eslint:recommended", "plugin:react/recommended"
  ],
  // Enable ES7 support. If you want to use custom Babel
  // features, you will need to enable a custom parser
  // as described in a section below.
  "parser": "babel-eslint",
  "parserOptions": {
    ecmaVersion: 7,
    "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  // Enable custom plugin known as eslint-plugin-react
  "plugins": [
    "react"
  ],
   "globals": {
   "React": true,
   "jQuery": true,
   "If": true,"Else": true,
   "For": true
    },
    "ecmaFeatures": {
        'jsx': true,
        'modules':true
    },
  "rules": {
    "no-underscore-dangle": 0,
    "no-param-reassign": 0,
    "func-names": 0,
    "new-cap": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 0,
    "react/prefer-stateless-function": 0,
    "import/no-extraneous-dependencies": 0,
    "no-console": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  }
}
