.header {
  background-color: #3f51b5;
  background-image: linear-gradient(-225deg,#3db0ef,#5e5bb7);
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.title {
  display: block;
  margin: 0em 0em 0em 0em;
  padding: 0.3em 0em 0em 0em;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: 100;
  font-size: 48px;
  font-family: Roboto, sans-serif;
}

.title strong {
  font-weight: 300;
}

@media screen and (max-width: 1024px) {

  .title {
    font-size: 36px;
  }

}
.subTitle {
  color: #5BC0BE;
  font-weight: normal;
  font-weight: 200;
  letter-spacing: 8px;
}

.xsTitle {
 /* margin: 100px auto 15px auto;*/
  font-size: 40px;
}

.xsSubTitle {
 /* margin: 0 auto 50px auto;*/
  font-size: 15px;
}

.suTitle {
 /* margin: 250px auto 15px auto;*/
  font-size: 60px;
}

.suSubTitle {
 /* margin: 0 auto 250px auto;*/
  font-size: 25px;
}
