@import '../variables.css';

.lead {
  font-size: 1.25em;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  display: inline-block;
  margin-bottom: 5px;
  max-width: 100%;
  font-weight: 700;
}
.features {
  color: #5BC0BE;
  background: #0B132B;
  padding: 50px 0;
  font-size: 20px;
}

.features i {
  font-size: 55px;
}

